<!DOCTYPE html>
<html>
<head>
	<title>用户设置</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link href="/stylesheets/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/editor.css">
	
	<style type="text/css">
	.img {
		width: 40px;
		height: 40px;
		display: inline-block;
	}
	.img-com{
		width: 40px;
		height: 40px;
		display: inline-block;
	}
	.u_name{
		display: inline-block;
		margin-left: 10px;
		font-size: 20px;
	}
	.content{
		display: inline-block;
		margin-left: 50px;
		padding-top: 10px;
		width: 800px;
		padding-top: 3px;
	}
	.in_con{
		font-size: 15px;
	}
	.listCom{
		margin-top: 10px;
		width: 700px;
		margin-left: 10%;
	}
	.CodeMirror {
    height: 120px;
	}
	.divd{
		margin-top: 1px;
		margin-bottom: 1px;
		width: 800px;
	}
	.zw{
		font-size: 20px;
	}
	.cmts{
		margin-bottom: 3px;
		margin-left: 2px;
		margin-right: 2px;
	}
	div{word-break:break-all;}
	div p{word-break;:break-all;}
	</style>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">VoidMirage</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li >
					<a href="/home">首页</a>
				</li>
				<li>
					<a href="/addBlog">新随笔</a>
				</li>
				<li>
					<a href="/chat">聊天室</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						账户 <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li class="active">
							<a href="/userInfo">个人信息</a>
						</li>
						<li >
							<a href="/blogInfo">博客设置</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="/logout">退出登录</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<div class="row col-md-12">
		<div class="col-md-2">
			<div class="panel panel-default">
				<img src="/usericons/defaulticon.jpg" 
   class="img-circle img-responsive center-block" style="padding-top: 10px;padding-bottom: 10px;">
				<button style="margin-bottom: 10px" type="button" class="btn btn-primary btn-lg center-block">
					<span class="glyphicon glyphicon-user"></span>
					<%if(user){%>
					<%=user%>
					<%}else{%>
					请登录
					<%}%>
				</button>

			</div>
			<div class="panel panel-default">
				<div class="header text-center" style="padding: 10px;background-color: #f6f6f6;">足迹</div>
				<ul class="list-group">
					<a href="/user/article/2016/3">
						<li class="list-group-item">
							<span class="badge">12</span>
							2016年3月
						</li>
					</a>
				</ul>
			</div>
		</div>
		<div class="col-md-10" >
			<div class=panel>
				<div class="text-left" style="font-size:40px;"><%=art.blog_title_main%></div>
				<span id="date_post"><%=art.post_date%></span>
				&nbsp;&nbsp;&nbsp;
				<span><%=poster.user_id%></span>
				<br/>
				<br/>
				<br/>
				<content>
				<p class="zw markdown-text">
					<%=art.content%>
	</p>
				</content>
			</div>

			<div calss="panel" style="border-bottom: 1px  solid;">
				<div>共<span class="badge cmts">12</span>条评论</div>
			</div>
			<div>如要评论，请先登录</div>
			<ul class="listCom" style="list-style: none">

				<li >
					<div style="height: 40px">
						<div class="img"><img src="/usericons/defaulticon.jpg" class="img-circle img-com" ></div>
						<div class="u_name">wanlf_test</div>
						<div class="u_name">2016/3/24</div>
						</div>

					
					<div class="content" >
					<p class="in_con">
						commentscommentscommentscommentscommentscommentscommentscommentscomments</p>
					</div>
					<hr class="divd"/>
				</li>

			</ul>
			<br/>
			<div class="container col-md-5 col-md-offset-2">
			<div class="panel panel-default" style="width: 600px">
				<label for="name">评论：</label>
				<textarea class="form-control" cols="5" rows="4"></textarea>
				<button class="btn" style="margin-top: 10px;float: right;margin-bottom: 100px" >submit</button>
			</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<script src="/javascripts/jquery/jquery-1.11.1.min.js"></script>
	<script src="/javascripts/bootstrap/bootstrap.min.js"></script>
	<script src="/javascripts/editor.js"></script>
	<script src="/javascripts/marked.js"></script>
	<script type="text/javascript">
		$(function(){
			var editor = new Editor();
			editor.render();
			Date.prototype.Format = function(fmt)   
			{ //author: meizz   
  				var o = {   
   			    "M+" : this.getMonth()+1,                 //月份   
    			"d+" : this.getDate(),                    //日   
    			"h+" : this.getHours(),                   //小时   
    			"m+" : this.getMinutes(),                 //分   
    			"s+" : this.getSeconds(),                 //秒   
    			"q+" : Math.floor((this.getMonth()+3)/3), //季度   
    			"S"  : this.getMilliseconds()             //毫秒   
  			};   
  			if(/(y+)/.test(fmt))   
    		fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));   
  			for(var k in o)   
    			if(new RegExp("("+ k +")").test(fmt))   
  				fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));   
  				return fmt;   
			}  
			$('#date_post').text(new Date($('#date_post').text()).Format("yyyy/MM/dd"));
			$('.zw').html(marked($('.zw').text().trim()));
		})
	</script>
</body>

</html>